* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: rgb(246, 250, 253);
    width: 100%;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
}

.iit-image {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}
.landing {
    position: relative;
    color: white;
}
.login-btn {
    position: absolute;
    top: 200px;
    background-color: black;
    padding: 12px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    left: 200px;
}